[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/cimgui"]
	path = deps/cimgui
	url = https://github.com/cimgui/cimgui.git
